# MongoDB

In [30]:
from pymongo import MongoClient
import yfinance as yf
import pandas as pd
import glob

Conexao MongoDB

In [3]:
client = MongoClient("mongodb://localhost:27017/")

Lista Databases

In [5]:
bancos = client.list_database_names()
bancos

['Alura_Serie', 'admin', 'config', 'local']

Cria arquivos para da ticker

In [29]:
tickers = ["AAPL", "NVDA"]
for ticker in tickers:
    df = yf.Ticker(ticker).history(period="max")
    df["Arquivo"] = ticker
    name = f"{ticker}.csv"
    df.to_csv(name)

Empilha CSVs

In [44]:
alldata = glob.glob("*.csv")
dfs = []
for arquivo in alldata:
    df = pd.read_csv(arquivo)
    dfs.append(df)

alldata = pd.concat(dfs, ignore_index=True)
alldata.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Arquivo
0,1980-12-12 00:00:00-05:00,0.098597,0.099025,0.098597,0.098597,469033600,0.0,0.0,AAPL
1,1980-12-15 00:00:00-05:00,0.093881,0.093881,0.093453,0.093453,175884800,0.0,0.0,AAPL
2,1980-12-16 00:00:00-05:00,0.087022,0.087022,0.086594,0.086594,105728000,0.0,0.0,AAPL
3,1980-12-17 00:00:00-05:00,0.088737,0.089165,0.088737,0.088737,86441600,0.0,0.0,AAPL
4,1980-12-18 00:00:00-05:00,0.091309,0.091738,0.091309,0.091309,73449600,0.0,0.0,AAPL

Grava no MongoDB

In [45]:
db = client["Alura_Serie"]
print(db.list_collection_names())

colecao = db["MongoDBTestPython"]

alldata = alldata.to_dict(orient="records")
colecao.insert_many(alldata)
print(db.list_collection_names())

['series']
['series', 'MongoDBTestPython']

In [ ]:
#Teste